/*Carrusel*/
h1{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.carousel-inner {
    /* width: 100%; */
    height: 200px; 
}
.carousel-item {
    /* width: auto;  */
    height: auto; 
}
.carousel-item img {
    /* width: 100%;  */
    height: 200px; 
    object-fit: cover;
    filter: brightness(0.5);
}

/* otros */
section.bibliotech.seccion-clara.container-lx{
    background-color: rgb(255, 255, 255);
}
div.row.principal{
    max-width: 100%;
    background-color: #fff;
}
.col-3{
    max-width: 200px;
}

/* filtros */
div.filtros{
    margin: 10px 20px 0px 20px;
    padding: 10px;
    height: auto;
    color: #fff;
}
/* busqueda */
div.busqueda{
    height: 100px;
    padding: 25px 0px 110px 0px;
    margin-bottom: 2%;
    text-align: center;
}
input.search{
    height: 22px;
    width: 100%;
    border: 1px solid white;
}
button.button{
    height: 22px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
}

/* fecha de publicación */
div.fecha{
    height: 300px;
    padding-top: 20px;
    margin-bottom: 2%;
    text-align: center;
}
label{
    font-size: 1.3rem;
}
input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}
input[type=radio]:checked {
    background-color: black;
    border-color: black;
}

input[type=radio]::before {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
input[type=radio]:checked::before {
    visibility:collapse;
}
input.date{
    padding: 4.5px 9px;
    height: 22px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
}
input#month.form-control{
    border-radius: 0%;
    height: 22px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
}
select#year.form-control{
    padding: 4.5px 9px;
    font-size: 10px;
    border-radius: 0%;
    height: 22px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
}
input[type="date"]:disabled, 
input#month.form-control:disabled, 
select#year.form-control:disabled {
    opacity: 10; /* Cambia la opacidad del input */
    cursor: not-allowed;
    background-color: #691b32;
    color: #691b32;
    border-color: #691b32;
}

/* área de conocimiento */
div.linea{
    height: 100px;
    margin-bottom: 2%;
    text-align: center;
    padding: 25px;
}
select.form-select{
    width: 100%;
    height: 50%;
}

/* tipo */
div.tipo{
    height: 200px;
    margin-bottom: 2%;
    padding: 25px;
}
input[type=checkbox]{
    transform: scale(2);
    margin-right: 10px;
}


/* resultados */
h5{
    padding-left: 20px;
    padding-top: 10px;
}
label.control-label{
    font-size: medium;
}
div.resultados{
    padding-left: 10px;
}
/*hr de gobierno*/
.hr-gob{
    margin: 10px 10px 10px 10px;
    background-color: var(--gold);
    border-top: 1px solid var(--gold);
    opacity: 1;
    margin-bottom: 50px;
}
.hr-gob::before{
    content: " ";
    width: 35px;
    height: 5px;
    background-color: var(--wine) !important;
    display: block;
    position: absolute;
}
/* cards */
div.cards {
    padding-top: 25px;
    display: flex;
    flex-wrap:wrap;
}
.card-biblio {
    width: 300px;
    height: 300px;
    padding-left: 20px;
    text-align: center;
    padding-bottom: 30px;   
}
.card-titulo{
    background-color: rgb(184, 192, 192);
    height: auto;
}

/* menu/filtros de busqueda */
.menu-toggle {
    display: none;
    position: absolute;
    top: 250px;
    left: 20px;
    /* z-index: 99999; Ajuste de z-index */
    background-color: #691b32;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.menu-toggle-container {
    display: none;
}
@media (max-width: 768px) {
    .menu-toggle-container {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .busquedas.active {
        display: block;
        position: fixed;
        /* transform: translate(-50%, -50%); */
        /*z-index: 9999;  Asegura que esté por encima de todo el contenido */
        color: #ffffff;
        background-color: #691b32;
    }
}
.busquedas {
    display: none;
}
.busquedas.active {
    display: block;
    position: absolute;
    top: 630px;
    left: 10%;
    transform: translate(-50%, -50%);
    /*z-index: 9999;  Asegura que esté por encima de todo el contenido */
    color: #ffffff;
    background-color: #691b32;
    max-width: 220px;
}
@media (min-width: 769px) {
    .menu-toggle-container {
        display: none;
    }
    .busquedas {
        display: block;
        background-color: #691b32;
    }
}