.main h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    
}
.imagen{
    width: 100%;
    height: 240px;
    top: 40px;
}
.main h3{
    padding-left: 10px;
    padding-top: 10px;
}

.main img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    filter: brightness(0.5);
}
section.bibliotech.seccion-clara{
    width: 100%;
    height: 100%;   
    background-color: rgb(103, 103, 108);
}
.bibliotech{
    padding: 20px;
    width: 100%;
    height: 100%;


}

div.filtros{
    padding: 0%;
    margin-right: none;
    height: 900px;
    width: 250px;
   color: #ffffff;
    background-color: #691b32;
    border-radius: 2%;
}

div.busqueda{
    height: 100px;
    width: auto;
    padding-top: 25px;
    margin-bottom: 2%;
    margin-left: none;
    border-bottom: 1px solid black;
    
    text-align: center;
}

input.search{
    width: 70%;
    border: 1px solid black;
    

}

button.button{
    width: 10%;
    border: 1px solid black;
}

select.form-select{
    width: 100%;
    height: 25%;
}

input[type=checkbox]{
    transform: scale(2);
    margin-right: 10px;
}

input.date{
    width: 100%;
    height:8%;
}

div.linea{
    height: 150px;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 25px;
}
div.tipo{
    height: 250px;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    

    padding: 25px;
}
div.fecha{
    height: 400px;
    margin-bottom: 2%;
    text-align: center;
    padding: 25px;   
}

div.resultados{
    width: 100%;
}

div.resultado{
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 1px solid black;
}
div.row.justify-content-around{
    width: 100%;
}
div.col-9{
    width: 100%;
}
div.col-3{
    width: 100%;
    height: 100%;
}