/* mac */
@media (min-width: 900px) {    
    header {
        margin-top: -3%;
        position: fixed; /* Fija el encabezado en la parte superior */
        width: 100%;
        height: 75px;
        background-color: #691b32;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        justify-content: space-between;
        z-index: 5; /* Asegura que el encabezado esté sobre otros elementos */
    }
    header h3 {
        font-size: medium;
        color: #ffffff;
        text-decoration: none;
    }
    header ul {
        list-style-type: none;
        padding: 0;
        margin: 10px;
        display: flex;
    }
    header li a {
        text-decoration: none;
        padding: 8px 16px;
    }
    
    header li a:hover {
        background-color: #691b32;
    }

    /*menu de navegación del header*/
    .nav-header a{
        text-decoration: none;
        color: #ffffff;
    }
    .nav-header button{
        color: #ffffff;
        background-color:#691b32;
        border: none;
    }
    .nav-header .dropdown-item{
        color:#000;
    }
}

/* -------------------------------------------------------------------------------------------------------- */

/* ipad */
@media (min-width: 541px) and (max-width: 899px){
    header {
        margin-top: -4%;
        position: fixed;
        width: 100%;
        height: 75px;
        background-color: #691b32;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        justify-content: space-between;
        z-index: 10;
    }
    header h3 {
        font-size: medium;
        color: #ffffff;
        text-decoration: none;
    }
    header ul {
        list-style-type: none;
        padding: 0;
        margin: 10px;
        display: flex;
    }
    header li a {
        text-decoration: none;
        padding: 8px 16px;
    }
    
    header li a:hover {
        background-color: #691b32;
    }

    /*menu de navegación del header*/
    .nav-header a{
        text-decoration: none;
        color: #ffffff;
    }
    .nav-header button{
        color: #ffffff;
        background-color:#691b32;
        border: none;
    }
    .nav-header .dropdown-item{
        color:#000;
    }
}

/* -------------------------------------------------------------------------------------------------------- */

/* iphone */
@media (max-width: 540px) {
    header {
        margin-top: -5%;
        position: fixed; /* Fija el encabezado en la parte superior */
        width: 100%;
        max-height: 60px;
        min-height: 50px;
        background-color: #691b32;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        justify-content: space-between;
        z-index: 5; /* Asegura que el encabezado esté sobre otros elementos */
    }
    
    header h3 {
        font-size: small;
        color: #ffffff;
        text-decoration: none;
    }
    header ul {
        list-style-type: none;
        padding: 0;
        margin: 10px;
        display: flex;
    }
    header li a {
        text-decoration: none;
        padding: 8px 16px;
    }
    
    header li a:hover {
        background-color: #691b32;
    }

    /*menu de navegación del header*/
    .nav-header{
        list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    }
    .nav-header a{
        text-decoration: none;
        color: #ffffff;
    }
    .nav-header button{
        color: #ffffff;
        background-color:#691b32;
        border: none;
    }
    .nav-header .dropdown-item{
        color:#000;
    }
    .nav-header{
        position: relative;
    display: inline-block;
    }

    .nav-header {
        padding: 10px 20px;
        font-size: 1.2em;
    }
    .nav-header a:hover {
        background-color: #691b32;
        color: #ffffff;
    }
}