        /* Estilos para pantallas grandes */
        header {
            margin-top: -2%;
            position: fixed; /* Fija el encabezado en la parte superior */
            width: 100%; /* Ocupa el ancho completo de la ventana */
            background-color: #691b32;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            justify-content: space-between;
            z-index: 5; /* Asegura que el encabezado esté sobre otros elementos */
        }

        header ul {
            list-style-type: none;
            padding: 0;
            margin: 10px;
            display: flex;
        }

        header li a {
            text-decoration: none;
            padding: 8px 16px;
        }

        header h3 {
            font-size: medium;
            color: #ffffff;
            text-decoration: none;
        }

        header li a:hover {
            background-color: #691b32;
        }

        /*menu de navegación del header*/
        .nav-header a{
            text-decoration: none;
            color: #ffffff;
        }

        .nav-header button{
            color: #ffffff;
            background-color:#691b32;
            border: none;
        
        }
        .nav-header .dropdown-item{
            color:#000;
        }


        /* Estilos para pantallas más pequeñas (responsivos) */
        @media only screen and (max-width: 768px) {
            header {
                margin-top: -9%;
                flex-direction: column;
                text-align: center;
                
            }

            header ul {
                flex-direction: column;
            }

            header li {
                margin-bottom: 10px;
            }
        }