/* fondo */
.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    filter: brightness(0.3);
      /* transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); */
}
/* otros */
main, div.row.blanco{
    width: 100vw;
}
section.admin.seccion-obscura, div.col.blanco, div.col.obscuro, div.filtros.nodos, div.filtros.producciones{
    width: 100%;
}
div.resultados.producciones, div.resultados.nodos{
width: 100%;
}

/* mac */
@media (min-width: 801px) {
    /* col en blanco */
    div.col.blanco{
        max-width: 277px;
        height: 100%;
        background-color: #691b32;
    }
    /* col obscuro */
    div.col.obscuro{
        padding: 50px;
    }
    /* titulo */
    .main h3{
        color: #ffffff;
        font-size: 30px;
    }
    /*hr de gobierno*/
    .hr-gob{
    margin: 10px 10px 10px 10px;
    background-color: var(--gold);
    border-top: 1px solid var(--gold);
    opacity: 1;
    }
    .hr-gob::before{
    content: " ";
    width: 35px;
    height: 5px;
    background-color: var(--wine) !important;
    display: block;
    position: absolute;
    }

    /* home-admin */
    h5.card-title.home-admin{
        font-size: medium;
        font-weight:bold;
    }
    div.card-header.home-admin{
        height: auto;
    }
    /* letra contenido de home-admin y titulo no revisado/revisado */
    li{
        font-size: medium;
    }
    li.list-group-item{
        height: 40px;
        align-content: none;
    }

    /* postulaciones */
    /* producciones y nodos*/
    form#busqueda-form{
        height: auto;
        width: 100%;
    }
    label{
        color: #ffffff;
        font-size: large;
        }
    button.button.producciones{
        width: auto;
        border: 1px solid black;
        height: 25px;
        width: 100%;
        margin-top: 30px;
        border: 1px solid white;
    }
    button.button.nodos{
        width: auto;
        border: 1px solid black;
        height: 25px;
        width: 100%;
        margin-top: 20px;
        border: 1px solid white;
    }
    a.btn.btn-primary{
        margin-bottom: 10px;
    }
    div.resultados.producciones, div.resultados.nodos{
        padding: 60px 0px 0px 0px;
    }
    div.card.producciones{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 350px;
        min-width: 220px;
    }
    div.card.nodos{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 300px;
        min-width: 220px;
    }
    div.card-header.producciones, div.card-header.nodos{
        height: auto;
        max-height: 60px;
    }
    h5.card-title{
        font-size: medium;
        font-weight:bold;
    }
    /* modal */
    .modal-dialog-scrollable .modal-content {
        height: 300px;
        width: 600px;
        left: 25%;
    }
    div.modal-header{
        background-color: #691b32;
        color: #ffffff;
    }
    h4.modal-title{
        font-size: large;
    }
    th.rotated-header, td.contenido-produccion{
        font-size: medium;
    }

    /* bibliotech e infotech*/
    div.card.bibliotech, div.card.infotech{
        width: 100%;
        height: auto;
    }
    td, a{
        font-size: medium;
    }
    ul.dropdown-menu.show{
        height: auto;
        width: auto;
        padding: 0px;
        background: none;
    }  
}

/* ipad */
@media (min-width: 413px) and (max-width: 800px){
    main{
        width: 100vw;
    }
    /* col en blanco */
    div.col.blanco{
        display: none;
    }
    /* col obscuro */
    div.col.obscuro{
        padding: 35px;
    }
    /* titulo */
    .main h3{
        color: #ffffff;
        font-size: 20px;
    }
    /*hr de gobierno*/
    .hr-gob{
        margin: 10px 10px 10px 10px;
        background-color: var(--gold);
        border-top: 1px solid var(--gold);
        opacity: 1;
    }
    .hr-gob::before{
        content: " ";
        width: 35px;
        height: 5px;
        background-color: var(--wine) !important;
        display: block;
        position: absolute;
    }

    /* home-admin */
    h5.card-title.home-admin{
        font-size: medium;
        font-weight:bold;
    }
    div.card-header.home-admin{
        height: 45px;
    }
    li{
        font-size: medium;
    }
    li.list-group-item{
        height: 60px;
        align-content: none;
    }

    /* postulaciones */
    /* producciones y nodos */
    form#busqueda-form{
        height: auto;
        width: 100%;
    }
    label{
        color: #ffffff;
        font-size: medium;
    }
    button.button.producciones{
        width: auto;
        border: 1px solid black;
        height: 25px;
        width: 100%;
        margin-top: 30px;
        border: 1px solid white;
    }
    button.button.nodos{
        width: auto;
        border: 1px solid black;
        height: 25px;
        width: 100%;
        margin-top: 20px;
        border: 1px solid white;
    }
    a.btn.btn-primary{
        margin-bottom: 10px;
    }
    div.resultados.producciones, div.resultados.nodos{
        padding: 60px 18px 0px 18px;
    }
    /* cards resultados */
    div.card.producciones{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 400px;
        min-width: 220px;
        /* width: 100%; */
    }
    div.card.nodos{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 500px;
        min-width: 220px;
        /* width: 100%; */
    }
    div.card-header.producciones, div.card-header.nodos{
        height: auto;
    }
    h5.card-title{
        font-size: medium;
        font-weight:bold;
    }
    p.card-text{
        font-size: medium;
    }
    /* modal */
    .modal-dialog-scrollable .modal-content {
        height: auto;
        max-width: 500px;
    }
    div.modal-header{
        background-color: #691b32;
        color: #ffffff;
    }
    h4.modal-title{
        font-size: medium;
    }
    th.rotated-header, td.contenido-produccion{
        font-size: medium;
    }
    /* bibliotech e infotech*/
    div.card.bibliotech, div.card.infotech{
        width: 100%;
        height: auto;
    }
    th{
        font-size: medium;
    }
    td,a{
        font-size: medium;
    }
    ul.dropdown-menu.show{
        height: auto;
        width: auto;
        padding: 0px;
        background: none;
    }  

    /* boton sidebar */
    button#sidebar-toggle.small-screen-only{
        height: 50px;
        width: 50px;
        border: none;
        position: absolute;
        top: 25px;
        left: 85%;
        border-radius: 100%;
        background: #691b32;
        color: rgb(255, 255, 255);
    }
}

/* iphone */
@media (max-width: 412px) {
    main{
        width: 100vw;
    }
    /* col en blanco */
    div.col.blanco{
        display: none;
    }
    /* col obscuro */
    div.col.obscuro{
        padding: 25px;
    }
    /* titulo */
    .main h3{
        color: #ffffff;
        font-size: medium;
    }
    /*hr de gobierno*/
    .hr-gob{
        margin: 10px 10px 10px 10px;
        background-color: var(--gold);
        border-top: 1px solid var(--gold);
        min-width: 200px;
        opacity: 1;
    }
    .hr-gob::before{
        content: " ";
        width: 35px;
        height: 5px;
        background-color: var(--wine) !important;
        display: block;
        position: absolute;
    }

    /* home-admin */
    h5.card-title.home-admin{
        font-size: small;
        font-weight:bold;
    }
    div.card-header.home-admin{
        height: auto;
    }
    li{
        font-size: medium;
    }
    li.list-group-item{
        height: auto;
        align-content: none;
    }

    /* postulaciones */
    /* producciones y nodos */
    form#busqueda-form{
        height: auto;
        width: 100%;
        min-width: 220px;
    }
    label{
        color: #ffffff;
        font-size: small;
    }
    button.button.producciones{
        width: auto;
        border: 1px solid black;
        height: 22px;
        width: 100%;
        margin-top: 30px;
        border: 1px solid white;
    }
    button.button.nodos{
        width: auto;
        border: 1px solid black;
        height: 22px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid white;
    }
    a.btn.btn-primary{
        margin-bottom: 10px;
    }
    div.resultados.producciones, div.resultados.nodos{
        padding: 60px 18px 0px 18px;
    }
    /* cards resultados */
    div.card.producciones{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 350px;
        min-width: 200px;
        /* width: 100%; */
    }
    div.card.nodos{
        margin: 0px 5px 5px 5px;
        height: auto;
        max-height: 350px;
        min-width: 200px;
        /* width: 100%; */
    }
    div.card-header.producciones, div.card-header.nodos{
        height: auto;
    }
    h5.card-title{
        font-size: medium;
        font-weight:bold;
    }
    p.card-text{
        font-size: small;
    }
    /* modal */
    .modal-dialog-scrollable .modal-content {
        height: auto;
        width: auto;
    }
    div.modal-header{
        background-color: #691b32;
        color: #ffffff;
    }
    h4.modal-title{
        font-size: small;
    }
    th.rotated-header, td.contenido-produccion{
        font-size: small;
    }
    ul.dropdown-menu.show{
        height: auto;
        width: auto;
        padding: 0px;
        background: none;
    }  
    /* bibliotech e infotech*/
    div.card.bibliotech, div.card.infotech{
        width: 100%;
        height: auto;
    }
    th{
        font-size: x-small;
    }
    td,a{
        font-size: x-small;
    }
    ul.dropdown-menu.show{
        height: auto;
        width: auto;
        padding: 0px;
        background: none;
    } 
    /* boton sidebar */
    button#sidebar-toggle.small-screen-only{
        height: 40px;
        width: 40px;
        border: none;
        position: absolute;
        top: 25px;
        left: 80%;
        border-radius: 100%;
        background: #691b32;
        color: rgb(255, 255, 255);
    }
}