body {
            
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.page{
  margin-top: 2%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box{
    margin-top: 5%;
    width: 80%;
    border-radius: 10px;
    
}

/*hr de gobierno*/
.content .hr-gob{
  margin: 10px 0 10px;
  background-color: var(--gold);
  border-top: 1px solid var(--gold);
  opacity: 1;
  margin-bottom: 50px;
}

.content .hr-gob::before{
  content: " ";
  width: 35px;
  height: 5px;
  background-color: var(--wine) !important;
  display: block;
  position: absolute;
}
/*Información personal*/
.image-Ipersonal img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*navegador de producciones*/
.nav-producciones {
    display: flex;
  }

  .nav li {
    list-style: none;
  }

  

  .nav-crud {
    margin-left: 55%;
  }

  .nav-crud a{
    color: #ffffff;
  }

  .tabs-producciones {
    width: 100%;
    
    display: none;
  }

  .tabs-producciones.active {
    display: block;
  }
  

  

  .nav-producciones {
    display: flex;
  }

  .nav-link {
    list-style: none;
    display: inline-block;
    
  }

  .nav-link a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .nav-link.active a {
    background-color: #bc955b;
    color: #ffffff;
  }

  .tabs-producciones {
    width: 100%;
    padding: 10px;
    display: none;
  }

  .tabs-producciones.active {
    display: block;
  }

  /* Estilo adicional para resaltar el tab activo */
  .nav-link.active a {
    border-bottom: 2px solid #ffffff;
  }
/*contenedor de card*/
.content-body-card{
    margin-top: 2%;
    margin-left:5%;
}




 /* Contenido de producciones */
 .modal-header{
  background-color: #691b32;
  color: #ffffff;
 }

/*Modales */

