/* mac */
@media (min-width: 900px) {
    /* carrusel */
    .carousel-inner {
        height: 190px; 
    }
    .carousel-item {
        height: auto; 
    }
    .carousel-item img {
        height: 190px; 
        object-fit: cover;
        filter: brightness(0.5);
    }
    /* titulo */
    h1{
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    /* hr de gobierno */
    .hr-gob{
        margin: 10px 10px 10px 10px;
        background-color: var(--gold);
        border-top: 1px solid var(--gold);
        opacity: 1;
    }
    .hr-gob::before{
        content: " ";
        width: 35px;
        height: 5px;
        background-color: var(--wine) !important;
        display: block;
        position: absolute;
    }
    /* otros */
    main{
        width: 100%;
        padding: none;
    }
    div.row-invisible.nav{
        width: 100%;
        height: 30px;
    }
    div.row.initial.justify-content-center{
        width: 100%;
        padding: 30px 60px 10px 60px;
    }
    div.row.elementary.justify-content-center{
        width: 100%;
        padding: 0px 60px 0px 70px;
    }
    div.row.secondary.justify-content-center{
        width: 100%;
        padding: 0px 60px 60px 70px;
    }
    
    /* tabla meses y años */
    #monthsTableContainer {
        display: block;
    }
    #monthsSelectContainer {
        display: none;
    }
    #btnFiltrar {
        display: none;
    }
    table.months{
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        border: none;
        text-align: center;
        background-color: #691b32;
        cursor: pointer;
    }
    td{
        font-size: large;
        font-weight: lighter;
    }
    button{
        background-color: transparent;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 20px 5px;
    }
    td:hover{
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    select.fechaaño{
        width: 80px;
        height: 40px;
        margin: 0px 0px 0px 90%;
        color: #ffffff;
        text-align: center;
        font-size: large;
        font-weight: lighter;
        cursor: pointer;
        background-color: #691b32;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        border-radius: none;
    }
    select.fechaaño:hover {
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    
    /* tabla resultados*/
    table.resultados{
        width: 100%;
        margin-top:20px;
        border-color:#b4b4b4;
    }
    th.subtitulo1,
    th.subtitulo2,
    th.subtitulo3,
    th.subtitulo4{
        font-weight: 700;
        font-size: large;
    }
    th.subtitulo1{
        width: 20%;
    }
    th.subtitulo2{
        width: 15%;
    }
    th.subtitulo3{
        width: 15%;
    }
    th.subtitulo4{
        width: 50%;
    }
    th{
        font-weight: lighter;
        font-size: medium;
    }
    th.docinfotech{
        max-width: 50px;
        overflow: hidden;

    }
    th.descinfotech{
        max-width: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* -------------------------------------------------------------------------------------------------------- */


/* ipad */
@media (min-width: 541px) and (max-width: 899px){
    /* carrusel */
    .carousel-inner {
        height: 180px; 
    }
    .carousel-item {
        height: auto; 
    }
    .carousel-item img {
        height: 180px; 
        object-fit: cover;
        filter: brightness(0.5);
    }
    /* titulo */
    h1{
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    /*hr de gobierno*/
    .hr-gob{
        margin: 10px 10px 10px 10px;
        background-color: var(--gold);
        border-top: 1px solid var(--gold);
        opacity: 1;
    }
    .hr-gob::before{
        content: " ";
        width: 35px;
        height: 5px;
        background-color: var(--wine) !important;
        display: block;
        position: absolute;
    }
    /* otros */
    main{
        width: 100%;
        padding: none;
    }
    div.row-invisible.nav{
        width: 100%;
        height: 40px;
    }
    div.row.initial.justify-content-center{
        width: 100%;
        padding: 30px 60px 10px 60px;
    }
    div.row.elementary.justify-content-center{
        width: 100%;
        padding: 0px 60px 0px 70px;
    }
    div.row.secondary.justify-content-center{
        width: 100%;
        padding: 0px 30px 30px 50px;
    }

    /* tabla meses y años */
    #monthsTableContainer {
        display: block;
    }
    #monthsSelectContainer {
        display: none;
    }
    #btnFiltrar {
        display: none;
    }
    table.months{
        width: 100%;
        border-collapse: collapse;
        height: 50px;
        margin-bottom: 20px;
        border: none;
        text-align: center;
        background-color: #691b32;
        cursor: pointer;
        overflow: hidden;
    }
    td{
        font-size: 10px;
        font-weight: lighter;
    }
    button{
        background-color: transparent;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 20px 0px;
    }
    td:hover{
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    select.fechaaño{
        width: 100px;
        height: 30px;
        margin: 0px 0px 0px 80%;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
        font-weight: lighter;
        cursor: pointer;
        background-color: #691b32;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        border-radius: none;
    }
    select.fechaaño:hover {
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    
    /* tabla resultados*/
    table.resultados{
        width: 100%;
        margin-top:10px;
        border-color:#b4b4b4;
    }
    th.subtitulo1,
    th.subtitulo2,
    th.subtitulo3,
    th.subtitulo4{
        font-weight: 700;
        font-size: medium;
    }
    th.subtitulo1{
        width: 20%;
    }
    th.subtitulo2{
        width: 15%;
    }
    th.subtitulo3{
        width: 15%;
    }
    th.subtitulo4{
        width: 50%;
    }
    th{
        font-weight: lighter;
        font-size: small;
    }
    th.docinfotech{
        max-width: 50px;
        overflow: hidden;
    }
    th.descinfotech{
        width: 70px;
        overflow: hidden;
    }
}

/* -------------------------------------------------------------------------------------------------------- */

/* iphone */
@media (max-width: 540px) {
    /* carrusel */
    .carousel-inner {
        height: 100px; 
    }
    .carousel-item {
        height: auto; 
    }
    .carousel-item img {
        height: 100px; 
        object-fit: cover;
        filter: brightness(0.5);
    }
    /* titulo */
    h1{
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    /* hr de gobierno */
    .hr-gob{
        margin: 10px 10px 10px 10px;
        background-color: var(--gold);
        border-top: 1px solid var(--gold);
        opacity: 1;
    }
    .hr-gob::before{
        content: " ";
        width: 35px;
        height: 5px;
        background-color: var(--wine) !important;
        display: block;
        position: absolute;
    }
    /* otros */
    main{
        width: 100%;
        padding: none;
    }
    div.row-invisible.nav{
        width: 100%;
        height: 20px;
    }
    div.row.initial.justify-content-center{
        width: 100%;
        padding: 30px 30px 10px 30px;
    }
    div.row.elementary.justify-content-center{
        width: 100%;
    }
    div.row.secondary.justify-content-center{
        width: 100%;
        padding-left: 15px;
    }
    /* tabla meses y años */
    #monthsTableContainer {
        display: none;
    }
    #monthsSelectContainer {
        display: block;
    }
    #btnFiltrar {
        display: block;
        position: absolute;
    }
    form#formFilter{
        width: 100%;
    }
    select.fechaaño{
        width: 100px;
        height: 30px;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        background-color: #691b32;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        border-radius: none;
    }
    select.fechaaño:hover {
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    select.fechames{
        width: 100px;
        height: 30px;
        margin-right: 10px;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        background-color: #691b32;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        border-radius: none;
    }
    select.fechames:hover {
        border: none;
        border-radius: none;
        background-color: #b4b4b4;
        color: #ffffff;
    }
    
    
    /* tabla resultados*/
    table.resultados{
        width: auto;
        margin-top:40px;
        border-color:#b4b4b4;
    }
    th.subtitulo1,
    th.subtitulo2,
    th.subtitulo3,
    th.subtitulo4{
        font-weight: 700;
        font-size: x-small;
    }
    th.subtitulo1{
        width: 20%;
    }
    th.subtitulo2{
        width: 15%;
    }
    th.subtitulo3{
        width: 15%;
    }
    th.subtitulo4{
        width: 50%;
    }
    th{
        font-weight: lighter;
        font-size: x-small;
    }
    th.docinfotech{
        max-width: 50px;
        overflow: hidden;

    }
    th.descinfotech{
        max-width: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}