
body{
    font-family: Arial, Helvetica, sans-serif;
   
}
/*valores del main*/
.head-dos{
    margin-top: -3%;
    position: relative;
    overflow: hidden; /* Asegura que el contenido no se desborde del contenedor */
    width: 100%;
}

.head-dos::before {
    margin: 0;
    padding:0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://citnova.hidalgo.gob.mx/assets/imgs/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%); /* Ajusta el valor para cambiar la opacidad del filtro */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}
.inicio{
    display: flex;
    justify-content: center;
     align-items: center;
     width:100% ;
     height: 400px;
}
/*seccion principal*/
.section-content{
    display: flex;
   justify-content: center;
    align-items: center;
    height: 300px;
    color:#ffffff;
    
}

.logo{
    width: 120px;
}
@media (max-width: 768px) {
    .head-dos::before {
        filter: brightness(70%); /* Ajusta el valor para cambiar la opacidad del filtro en pantallas más pequeñas */
    }
   
    .inicio {
        height: 500px; /* Ajusta la altura para pantallas más pequeñas */
    }
  .content{
    margin-top: -10%;
  }

  .section-content{
    margin-top: -10%;
    text-align: center;
    
}
}

/*barra de navegación*/
.nav-plesith {
    margin-top: 2%;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
}

.nav-plesith ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-plesith li {
    float: right;
    margin-right: 1%;
    margin-top: 3%;
}

.nav-plesith input,
.nav-plesith button {
    margin-top: 3%;
    padding: 10px;
}

.nav-plesith li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-plesith li a:hover {
    background-color: #691b32;
    border-radius: 5px;
}

/* Estilos para el botón de hamburguesa */
.nav-toggle {
    margin-top: 50%;
    display: none; /* Ocultar el botón de hamburguesa por defecto */
}

/* Media queries para hacer el menú responsivo */
@media screen and (max-width: 768px) {
    .nav-plesith button{
        margin-top: 25%;
    }
    .nav-plesith li {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 1%;
    }
    .nav-plesith ul {
        position: fixed; /* Fija el encabezado en la parte superior */
        width: 100%; /* Ocupa el ancho completo de la ventana */
        display: none; /* Ocultar la lista de enlaces por defecto en pantallas pequeñas */
        background-color: #691b32;
        color: #ffffff;
        z-index: 5;
        
    }

    .nav-plesith ul.show {
        display: block; /* Mostrar la lista de enlaces cuando el botón de hamburguesa está activado */
    }
    .nav-toggle {
        margin-top: 10%;
        position: fixed; /* Fija el encabezado en la parte superior */
        width: 50px;
        height: 50px;
        display: block; /* Mostrar el botón de hamburguesa */
        background-color: #691b32;
        border-radius: 100%;
        border: 1px solid #bc955b;
        color: #bc955b;
        z-index: 100000;
    }

    
}

/*secccion de separación*/

.section-cards{
    height: 250px;
    background-color: #691b32;
    justify-content: center;
    display: flex;
}
/*tarjetas de interés */

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    z-index: 2;
    
}
.tarjeta-content{
    display: flex;
    justify-content: center;
}
.tarjeta-content a{
    font-size: 44px;
    text-decoration: none;
    color: #ffffff;
}

.tarjeta {
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}
.tarjera-image{
    margin-top: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #691b32;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    
}
@media screen and (max-width: 768px) {

    .section-cards{
        background-color: #691b32;
        overflow-x: auto; /* Hace que el contenido sea scrollable horizontalmente */
    }
    .contenedor-tarjetas {
        margin-bottom: 20px;
        margin-top: 370px;
        flex-direction: column;
       
    }
    

    .tarjeta{
        margin-top: 15%;
        margin-right: 10px;
        margin-bottom: 10%;
        height: 200px;
       
    }
    
    .tarjera-image{
        border: 1px solid #ddd;

        
    }
    
}


/*seccion de información*/

.seccion-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #691b32;
}

.tarjeta-info{
    padding-top: 2%;
    width:400px;
    margin-right: 50px;
    margin-left: 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5%;

}

.tarjeta-info i{
    font-size: 100px;

}

.tarjeta-info-des .btn-info{
    background-color: #ffffff;
}


@media screen and (max-width: 768px) {
    .seccion-info{
        flex-direction:column-reverse;
    }
    .tarjeta-info{
        margin-right: 10px;
        margin-left: 10px;
        width: 200px;
    }
} 
/*seccion image*/


.seccion-image {
    margin-top: -10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://aldianoticias.mx/wp-content/uploads/2019/01/DSC_0436-1280x640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    width: 100%;
    height: 400px;
}
.seccion-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de alpha para cambiar la opacidad del fondo */
}
.title-seccionImage {
    text-align: center;
    z-index: 1; /* Asegura que el texto esté sobre la capa semi-transparente */
}
@media screen and (max-width: 768px) {
    .seccion-image{
        margin-top: -20%;
    }
    .title-seccionImage{
        text-align: center;
    }
}


/*seccion-descrpcion*/ 
.seccion-descrpcion {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: relative; /* Añadido para posicionar imágenes absolutamente dentro de este contenedor */
}

.img-descrpcion {
    margin-top: 5%;
    margin-right: 100px;
    margin-bottom: 10%;
    position: relative; /* Añadido para posicionar imágenes absolutamente dentro de este contenedor */
}

.img-descrpcion img {
    width: 300px;
    height: 200px;
}

.descripcion-ple {
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 10%;
    width: 500px;
}

.img-descrpcion-1, .img-descrpcion-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.img-descrpcion-2 {
    margin-top: 100px;
    margin-left: 50px; /* Ajusta la distancia entre las imágenes */
}
@media screen and (max-width: 768px) {
    .seccion-descrpcion{
       margin-left: 10%;
    }
    .img-descrpcion {
        margin-right: 0;
        width: 100px;
    }
    .img-descrpcion img{
        width: 200px;
        height: 100px;
    }
    .descripcion-ple {
        margin-top: 50%;
        margin-left: 1%;
        margin-right: 10%;
        text-align: center; /* Centrar el texto en pantallas más pequeñas */
        
    }

    .img-descrpcion-2 {
        margin-top: 50px;
        
    }
}

/*Modales */

.modal 
.modal-header{
    background-color: #691b32;
    color: #ffffff; 
}