.main {
    margin-left: 15%;
    position: relative;
}

.main img {
  width: 100vw; /* Ancho igual al ancho de la ventana */
  height: 100vh; /* Altura igual a la altura de la ventana */
  object-fit: cover; /* Escalar la imagen para que cubra todo el contenedor */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: brightness(0.2);
}
/*-------*/
.hr-gob{
  margin: 10px 0 10px;
  background-color: var(--gold);
  border-top: 1px solid var(--gold);
  opacity: 1;
  margin-bottom: 50px;
}

table{
  background-color: #ffffff;
}
.title{
  margin-top: 5%;
}

 .hr-gob::before{
  content: " ";
  width: 35px;
  height: 5px;
  background-color: var(--wine) !important;
  display: block;
  position: absolute;
}
#postulacionesHeader{
  margin-left: 10px;
}

.title {
  position: absolute;
  top: 300px; /* Aproximadamente 300px desde la parte superior */
  left: 50%;
  transform: translateX(-50%); /* Centrar horizontalmente */
  width: 90%;
  max-width: 800px;
  color: #ffffff;
  z-index: -1;
}



@media (min-width: 768px) {
  /* Estilos para pantallas más grandes que 768px de ancho */
  .title {
      top: 40%; /* Reducir el desplazamiento vertical */
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas más grandes que 992px de ancho */
  .title {
      top: 30%; /* Reducir aún más el desplazamiento vertical */
  }
}
